In [2]:
import requests
import pandas as pd

In [3]:
#  establish API connection and import ticket data
headers = {
    'Content-Type': 'application/json'
}
requestResponse = requests.get("https://api.tiingo.com/tiingo/fx/eurusd/prices?startDate=2019-06-30&resampleFreq=1min&token=0373a7d102cbf2319f33d357a27213c1726c6fa1", headers=headers)
# print(requestResponse.json())

In [4]:
forex = pd.DataFrame({
                    'date':[x['date'] for x in requestResponse.json()],
                    'ticker':[x['ticker']for x in requestResponse.json()],
                    'open':[x['open'] for x in requestResponse.json()],
                    'high':[x['high'] for x in requestResponse.json()],
                    'low':[x['low'] for x in requestResponse.json()],
                    'close':[x['close'] for x in requestResponse.json()]
                        })

In [5]:
forex = forex.set_index('date')

In [6]:
forex.index = pd.to_datetime(forex.index)

In [7]:
# forex.head()
forex.tail()

                           ticker      open      high       low     close
date
2019-07-03 11:16:00+00:00  eurusd  1.129885  1.129925  1.129495  1.129605
2019-07-03 11:17:00+00:00  eurusd  1.129605  1.129810  1.129555  1.129795
2019-07-03 11:18:00+00:00  eurusd  1.129805  1.129805  1.129685  1.129775
2019-07-03 11:19:00+00:00  eurusd  1.129720  1.129720  1.129595  1.129595
2019-07-03 11:20:00+00:00  eurusd  1.129595  1.129705  1.129535  1.129560

In [53]:
forex.to_csv('ForexData.csv')