In [18]:
import requests
import pandas as pd
from tiingo import TiingoClient

In [37]:
#  establish API connection and import ticket data
headers = {
    'Content-Type': 'application/json'
}
requestResponse = requests.get("https://api.tiingo.com/tiingo/fx/eurusd/prices?startDate=2020-01-30&endDate=2020-04-03&resampleFreq=1min&token=0373a7d102cbf2319f33d357a27213c1726c6fa1", headers=headers)
# print(requestResponse.json())

In [38]:
forex = pd.DataFrame({
                    'date':[x['date'] for x in requestResponse.json()],
                    'ticker':[x['ticker']for x in requestResponse.json()],
                    'open':[x['open'] for x in requestResponse.json()],
                    'high':[x['high'] for x in requestResponse.json()],
                    'low':[x['low'] for x in requestResponse.json()],
                    'close':[x['close'] for x in requestResponse.json()]
                        })

In [39]:
forex = forex.set_index('date')

In [40]:
forex.index = pd.to_datetime(forex.index)

In [41]:
# forex.head()
forex.tail()

                           ticker      open      high      low     close
date
2020-01-31 21:55:00+00:00  eurusd  1.110475  1.110485  1.11046  1.110485
2020-01-31 21:56:00+00:00  eurusd  1.110485  1.110485  1.11046  1.110485
2020-01-31 21:57:00+00:00  eurusd  1.110485  1.110485  1.11046  1.110485
2020-01-31 21:58:00+00:00  eurusd  1.110485  1.110485  1.11044  1.110480
2020-01-31 21:59:00+00:00  eurusd  1.110480  1.110480  1.11045  1.110460

In [7]:
forex.to_csv('ForexData.csv')

In [17]:
# !pip install tiingo
# !pip install tiingo[pandas]